<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="!onSearch">
      <ion-buttons slot="end">
        <ion-button  (click)="showSearch()" color="primary">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title >
        <ion-icon src="/assets/pages/perguntas/communist.svg" style="font-size: 20px"></ion-icon>
        UniSUS
      </ion-title>
    </ng-container>
    <ion-searchbar *ngIf="onSearch" color="primary" showCancelButton="always"
                   (ionCancel)="hideSearch()"
                   style="color: white;" placeholder="Pesquisar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-hospital-item
            [routerLink]="'/app/hospital/' + hospital.obj?.uid"
            *ngFor="let hospital of hospitais"
            [item]="hospital">
    </app-hospital-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Carregando mais discussões...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
