<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" routerLink="/app/cadastrar/ocorrencia">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title >
        <ion-icon src="/assets/pages/perguntas/communist.svg" style="font-size: 20px"></ion-icon>
        UniSUS
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
