<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discussoes">
      <ion-icon name="library"></ion-icon>
      <ion-label>Discussões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hospitais">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Hospitais</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ocorrencias">
      <ion-icon name="megaphone"></ion-icon>
      <ion-label>Ocorrêcias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferencias">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Preferências</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
