<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discussoes">
      <ion-icon name="library"></ion-icon>
      <ion-label>Dúvidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hospitais">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Unid. de Saúde</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ocorrencias">
      <ion-icon name="megaphone"></ion-icon>
      <ion-label>Ocorrêcias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferencias">
        <ion-avatar  *ngIf="user?.photoURL" style="max-height: 25px; max-width: 25px;" on>
          <img [src]="user?.photoURL">
        </ion-avatar>
      <ion-label>Preferências</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
