@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

ion-content {
  --ion-background-color: #2DE1C2;
}

.google-btn {
  cursor: pointer;
  background-color: #4285F4;
  margin: 0 auto;
  color: #ffffff;
  bottom: 15px;
  font-family: 'Roboto', sans-serif;
  width: 230px;
  height: 40px;
  border-radius: 1px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.55);
  &:active {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.55);
  }
}

.google-logo {
  font-size: 40px;
}

.google-txt {
  float: right;
  width: calc(100% - 40px);
  padding: 10px;
}
