<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'app/hospitais'" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="/assets/pages/perguntas/communist.svg" style="font-size: 20px"></ion-icon>
      UniSUS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/app/cadastrar/ocorrencia">
        <ion-icon slot="icon-only" name="megaphone"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-cabecalho-hospital></app-cabecalho-hospital>

  <ion-segment (ionChange)="segmentChanged($event)" value="comentarios" >
    <ion-segment-button value="comentarios" >
      <ion-label>Comentários</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ocorrencias">
      <ion-label>Ocorrências</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-feed-hospital *ngIf="showComentarios"></app-feed-hospital>

  <app-historico-ocorrecias *ngIf="!showComentarios"></app-historico-ocorrecias>



</ion-content>
