<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'app/hospitais'" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon src="/assets/pages/perguntas/communist.svg" style="font-size: 20px"></ion-icon>
      UniSUS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/app/cadastrar/ocorrencia">
        <ion-icon slot="icon-only" name="megaphone"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
